<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
     <meta charset="UTF-8">
    <title>Привет Django</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <h1>Домашняя страница Django!</h1>
    <h2>templates/firstapp/home.html</h2>
    <img src="{% static 'images\bb5661ee1b1b1323855be3a0f95eb119.jfif' %}">
</body>
</html>
Здесь мы добавили всего одну строку, которая обеспечивает вывод изображения:
<img src="{% static 'C:\Users\MSI-B560\Documents\DJANGOSHIT\learn1_my_django_-project\hello\static\images\bb5661ee1b1b1323855be3a0f95eb119.jfif' %}">